[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
tqdm = "*"
audiosegment = "*"
keras = "*"
tensorflow = "*"
psutil = "*"
keras-rl = "*"
pandas = "*"
matplotlib = "*"
ipython = "*"
imageio = "*"

[requires]
python_version = "3.6"
